{% load static %}
{% load i18n %}
<!-- client section -->

<section class="client_section layout_padding">

    <div class="container">
      <div class="heading_container">
        <h2>
          Testimonial
        </h2>
        <p>
          Lorem Ipsum available, but the majority
        </p>
      </div>
      <div class="client_container">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Believable
                  </h4>
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  </p>
                  <img src="{% static 'images/quote.png' %}" alt="">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Believable
                  </h4>
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  </p>
                  <img src="{% static 'images/quote.png' %}" alt="">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Believable
                  </h4>
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  </p>
                  <img src="{% static 'images/quote.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <form class="d-flex justify-content-center m-2">
          <a href="{% url 'add_comment' %}" class="btn btn-warning rounded" type="submit">{% trans "Add comment" %} </a>
          </form>


    </div>
</section>
  <!-- end client section -->