{% load static %}
{% load i18n %}
  <!-- portfolio section -->

<section class="portfolio_section layout_padding-top">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Portfolio
        </h2>
        <p>
          There are many variations of
        </p>
      </div>
    </div>
    <div class="portfolio_container slick-carousel">
      <div class="box h-auto ">
        <img src="{% static 'images/p-1.jpg' %}" alt="">
        <div class="link-box">
          <a href="{% url 'portfolio' %}">
            <img src="{% static 'images/link.png' %}" alt="">
          </a>
          <h6>
            There are many
          </h6>
        </div>
      </div>
      <div class="box h-auto">
        <img src="{% static 'images/p-2.jpg' %}" alt="">
        <div class="link-box">
          <a href="{% url 'portfolio' %}">
            <img src="{% static 'images/link.png' %}" alt="">
          </a>
          <h6>
            There are many
          </h6>
        </div>
      </div>
      <div class="box h-auto">
        <img src="{% static 'images/p-3.jpg' %}" alt="">
        <div class="link-box">
          <a href="{% url 'portfolio' %}">
            <img src="{% static 'images/link.png' %}" alt="">
          </a>
          <h6>
            There are many
          </h6>
        </div>
      </div>
      <div class="box h-auto">
        <img src="{% static 'images/p-4.jpg' %}" alt="">
        <div class="link-box">
          <a href="{% url 'portfolio' %}">
            <img src="{% static 'images/link.png' %}" alt="">
          </a>
          <h6>
            There are many
          </h6>
        </div>
      </div>
    </div>
</section>

  <!-- end portfolio section -->

  <!-- quality section -->

  <section class="quality_section layout_padding">
    <div class="container">
      <div class="quality_container">
        <h2> Quality <br>your Photo</h2>
        <div class="box">
          <div class="detail-box">
            <div class="img-box">
              <img src="images/q-1.png" alt="">
            </div>
            <div class="text-box">
              <h5>
                  Professional Staff
              </h5>
              <p>
                  There are many variations
                  of passages
              </p>
            </div>
          </div>
          <div class="detail-box">
            <div class="img-box">
              <img src="images/q-2.png" alt="">
            </div>
            <div class="text-box">
              <h5>
                Save money
              </h5>
              <p>
                There are many variations
                of passages
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>